<%- include("head", {title: "Search Help"}) %>
<h1>Help with Search</h1>
<p>
<%= config.name %>'s search engine allows you to filter to just the items you're looking for by combining <strong>multiple tags</strong> and "<strong>fulltext search</strong>." With these features you should be able to quickly locate whatever you're looking for.
</p>
<h2>Fulltext Search</h2>
<p>"Fulltext" means you can search for text in the title 
<%- include("foot") %>